@use './partials/variables' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

@import 'bootstrap/scss/bootstrap';


.router-link-active, .router-link-active, .active{
    color: rgb(6, 75, 204) !important;
    font-weight: 700;
}